### Logs ###
logs/
*.log
npm-debug.log.*

### Runtime data ###
pids
*.pid
*.seed

### Coverage ###
coverage
.eslintcache

### Dependency directories ###
node_modules/

### OSX ###
.DS_Store

### Build output ###
release/app/dist
release/build
.gensetix/dll/
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

### WebStorm ###
.idea/

### ESLint ignores ###
.gensetix/
