.account {
  padding: 0 0 20px 0;
  border-bottom: 1px solid white;
}

.header {
  display: flex;
  flex-direction: column;
}

.user {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 95%;
  border-radius: 12px;
  border: 1px solid black;
  height: 185px;
  background-position: center;
  box-shadow: inset 500px 0 90px -7px rgba(0,0,0,0.4);
}

.avatar {
  width: 105px;
  height: 105px;
  border: 1px solid #15151b;
  border-radius: 666px;
  background: white;
}

.userInfo {
  margin-top: 30px;
  color: #15151b;
}

.nameWrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

.client {
  color: white;
}

.username {
  color: white;
}

.discriminator {
  color: white;
  opacity: 0.8;
}

.details {
  padding-top: 10px;
  border-bottom: 1px solid white;
}

.detailsTitle {
  font-size: 24px;
}

.detailsInfo {
  display: flex;
  align-items: center;
}

.detailsTitle {
  font-size: 18px;
}

.TFA {
  padding: 0 0 20px 0 ;
  border-bottom: 1px solid white;
}

.TFATitle {
  font-size: 24px;
}

.buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
