.primary {
  width: 92%;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  padding: 10px;
  color: #15151b;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(122, 122, 122, 0.5);
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
}
